.app__why {
  width: 100%;
  height: 100%;
  background-color: var(--colorSmokeWhite);
}

.app__why-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  gap: 2rem;
  align-items: center;
}

.title {
  margin-bottom: 1rem;
}

.subtitle {
  margin-bottom: 1rem;
}

.app__left .subtitle {
  color: var(--text-200);
}

.app__right-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
}

@media (max-width: 65em) {
  .app__why-grid {
    grid-template-columns: 1fr;
  }
}
