.app__copy {
  width: 100%;
  height: fit-content;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright .subtitle {
  margin-bottom: 0;
}

@media (max-width: 43em) {
  .copyright {
    text-align: center;
  }
}
